
.center{
    text-align: center;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items:center;
}

.texto{
    text-align: justify;
}

.menu li{
    display: inline;
    padding: 20px;

}

a{
    text-decoration: none;
    transition: .7s ease;
}

.menu li a:hover{
    color: grey;
}

.imagem{
    height: 300px;
    width: 300px;
    border-radius: 100%;
}

.ml-50{
    margin-left: 50px;
}

.mb-50{
    margin-bottom: 50px;
}